@use 'modules/index' as *;

.board {
	display: grid;
	grid-template-rows: repeat(10, 1fr);
	grid-auto-flow: row;

	aspect-ratio: 1 / 1;
	width: 40vw;

	.row {
		display: grid;
		grid-template-columns: repeat(10, 1fr);
	}

	.row:nth-child(even) {
		.cell:nth-child(even) {
			background-color: black;
		}
		.cell:nth-child(odd) {
			background-color: green;
		}
	}

	.row:nth-child(odd) {
		.cell:nth-child(odd) {
			background-color: black;
		}
		.cell:nth-child(even) {
			background-color: green;
		}
	}
}
