@use 'modules/index' as *;

html {
	background-color: rgb(225, 225, 255);
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
}

#root {
	display: grid;
	grid-template-rows: auto 1fr;
	height: 100vh;
	width: 100%;
}

.header {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	justify-items: center;
	font-size: 1.8rem;
	padding: 0 $small-dimension;

	width: 100vw;
	height: 60px;
	background-color: $tile-color1;
	box-shadow: black 0 1px 10px 1px;

	.title {
		justify-self: left;
	}

	.logo {
		justify-self: right;
		aspect-ratio: 1/1;
		width: 40px;
		right: $small-dimension;
	}
}

.board {
	display: grid;
	grid-template-rows: repeat(10, 1fr);
	grid-auto-flow: row;

	aspect-ratio: 1 / 1;
	width: $board-dimensions;
	border: 15px solid $board-border-color;

	.row {
		display: grid;
		grid-template-columns: repeat(10, 1fr);
	}
	.cell {
		border: 0.5px solid black;
	}

	.row:nth-child(even) {
		.cell:nth-child(even) {
			background-color: $tile-color1;
		}
		.cell:nth-child(odd) {
			background-color: $tile-color2;
		}
	}

	.row:nth-child(odd) {
		.cell:nth-child(odd) {
			background-color: $tile-color1;
		}
		.cell:nth-child(even) {
			background-color: $tile-color2;
		}
	}
}

.main {
	display: flex;
	align-items: center;
	justify-content: center;

	position: relative;
	width: 100vw;
}

.knight-cont {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-between;
	gap: 30px;

	position: absolute;
	left: calc((100vw - $board-dimensions) / 4);
	transform: translate(-50%, 0);

	.knight {
		width: calc($board-dimensions / 12);
	}

	.button-cont {
		display: flex;
		flex-direction: column;
		gap: $small-dimension;

		background-color: $tile-color1;
		box-shadow: black 0 0 8px 1px;
		padding: $small-dimension;
		border-radius: 10px;
		aspect-ratio: 4/1;
	}

	.button {
		display: flex;
		align-items: center;
		justify-content: center;

		aspect-ratio: 4/1;
		background-color: $tile-color2;
		font-size: 1.2rem;
		border-radius: 10px;
	}
}
